@import "@/assets/scss/mystyle.scss";
.fadein-enter-active{
  animation: fadein 2.5s;
}

.fadein-leave-active{
  animation: fadeout 1s;
}
.pp{
  @include breakpoint(xs,dwon){
    padding: 6vw;
  }
}
a{
  text-decoration: none;
}

.locset_log{
  @include breakpoint(xs,down){
    width: 67vw;

  }
  @include breakpoint(sm){
    padding-bottom: 6vw;
  }
  @include breakpoint(md,up){
    padding-bottom: 2vh;
  }
}
.locset_sign{
  @include breakpoint(xs,down){
    width: 50vw;
    margin-right: 2vw;

  }
  @include breakpoint(sm){
    padding-bottom: 6vw;
  }
  @include breakpoint(md,up){
    padding-bottom: 2vh;
  }
}

.main_p{
  cursor: pointer;
  animation: slide_f_l 1.5s;
  font-family: 'Fredoka One', cursive;  
  @include breakpoint(xs,down){
    font-size: 25vw;
    &.logbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      width: 67vw;
        padding-bottom: 10vh;
        margin-right: 8vw;
        text-align: right;
        animation: fadein 1s;
        line-height: 1;
        color: white;
        font-weight: 600;
        right: 10vw;
        bottom: 50%;
        &on{
          padding-bottom: 10vh;
        width: 41vw;
        margin-right: 8vw;
        text-align: right;
        animation: fadein 1s;
        line-height: 1;
        color: white;
        font-weight: 600;
        right: 10vw;
        bottom: 50%;
      }
    }
    &.signbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      width: 50vw;
      font-weight: 600;
      line-height: 1;
      text-align: right;
      color:white;
      right: 10vw;
      bottom: 10vh;
      margin-right: 8vw;
      &on{
        width: 50vw;
        margin-right: 8vw;
        animation: fadein 1s;
        font-weight: 600;
        line-height: 1;
        text-align: right;
        color:white;
        right: 10vw;
        bottom: 10vh;
      }
    }
  }
  @include breakpoint(sm){

    font-size: 18vw;
    &.signbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      left: 5%;
      bottom: 20%;
      &on{
        animation: fadein 1s;
        font-weight: 600;
        color:white;
        left: 5%;
        bottom: 20%;
      }
    }
    &.logbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      width: 55vw;
      left: 5%;
      bottom: 50%;
      &on{  
        width: 55vw;
        animation: fadein 1s;
        color: white;
        font-weight: 600;
        left: 5%;
        bottom: 50%;
      }
    }
  }
  @include breakpoint(md,up){
    font-size: 22vh;
    &.signbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      text-align: right;
      &on{
        text-align: right;
        animation: fadein 1s;
        font-weight: 600;
        color:white;
        left: 15%;
        bottom: 10%;
      }
    }
    &.logbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      left: 5%;
      width: 60vh;
      top : 10%;
      &on{  
        width: 60vh;
        animation: fadein 1s;
        color: white;
        font-weight: 600;
        left: 5%;
        top: 10%;
      }
    }
  }
}