@import "@/assets/scss/mystyle.scss";
.fadein-enter-active{
  animation: fadein 2.5s;
}

.fadein-leave-active{
  animation: fadeout 1s;
}

a{
  text-decoration: none;
}
.main_p{
  margin: 0px;
  padding-bottom: 15px;
  position: fixed;
  cursor: pointer;
  animation: slide_f_l 1.5s;
  font-family: 'Fredoka One', cursive;  
  @include breakpoint(xs,down){
    font-size: 120px;
    width:320px;
    &.signbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      line-height: 1;
      text-align: right;
      right: 10%;
      bottom: 10%;
      &on{
        animation: fadein 1s;
        font-weight: 600;
        line-height: 1;
        text-align: right;
        color:white;
        right: 10%;
        bottom: 10%;
      }
    }
    &.logbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      right: 10%;
      bottom: 50%;
      line-height: 1;
      &on{
        animation: fadein 1s;
        line-height: 1;
        color: white;
        font-weight: 600;
        right: 10%;
        bottom: 50%;
      }
    }
  }
  @include breakpoint(sm){
    font-size: 150px;
    &.signbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      left: 5%;
      bottom: 20%;
      &on{
        animation: fadein 1s;
        font-weight: 600;
        color:white;
        left: 5%;
        bottom: 20%;
      }
    }
    &.logbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      left: 5%;
      bottom: 50%;
      &on{  
        animation: fadein 1s;
        color: white;
        font-weight: 600;
        left: 5%;
        bottom: 50%;
      }
    }
  }
  @include breakpoint(md,up){
    font-size: 200px;
    &.signbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      left: 15%;
      bottom: 10%;
      &on{
        animation: fadein 1s;
        font-weight: 600;
        color:white;
        left: 15%;
        bottom: 10%;
      }
    }
    &.logbtn{
      @include gradient_text(600, $main_degree, $main_gradient);
      left: 5%;
      top : 10%;
      &on{  
        animation: fadein 1s;
        color: white;
        font-weight: 600;
        left: 5%;
        top: 10%;
      }
    }
  }
}