@import "@/assets/scss/mystyle.scss";
#rcorners2 {
  border-radius: 15px;
  border: 1px solid #92a8d1;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;
}

.rights{
  width: 200px;
}
.bounce-enter-active {
  animation: bounce .4s;
}
.bounce-leave-active {
  animation: bounce .2s reverse;
}

.bounce_l-leave-active{
  animation: bounce .2s reverse;
}


.titlebox{
  font-size: 20px;
  color:black; 
  margin-top:50px; 
  z-index: 99999999;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 30px;
}
.title-item{
  &:hover{
    cursor: pointer;
  }
  z-index:2000;
}

.insert{
  position: fixed;
  right: 40px;
  bottom: 40px;
}