// init start ----------------------------------------
html,body{
  width: 100%;
  height: 100%;
}
// braekpoint
  // xs : 0 ~599
  // sm : 600 ~ 959
  // md : 960 ~ 1264
  // lg : 1265 ~
// 색상
$RoseQuartz:#F7CAC9;
$Serenity:#92A8D1;
$modal_z:99999999999;


// 글씨체
$main_font : 'Fredoka One';
$main_degree : 115deg;
$main_gradient : rgb(247,202,201), rgb(180, 180, 185), rgb(146,168,209), rgb(230,230,230);
$black_gradient : rgb(40,40,40), rgb(70,70,70), rgb(52,52,52), rgb(130,130,130);

// init end -------------------------------------------

// mixin 생성 start ------------------------------------------
// 그라데이션
@mixin gradient_text($fontweight, $degree, $colors...) {
  font-weight: $fontweight;
  background: linear-gradient($degree, $colors);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

@mixin gradient($degree, $colors...){
  background: linear-gradient($degree, $colors);
}

// breakpoint
@mixin breakpoint($pointer,$dir:btw){
  @if $dir == btw{
    @if $pointer == under{
      @media screen and (max-width: 479px){
        @content;
      }
    }
    @if $pointer == xs{
      @media screen and (min-width :480px) and (max-width:599px){
        @content;
      }
    } @else if $pointer == sm{
      @media screen and (min-width: 600px) and (max-width:959px){
        @content;
      }
    } @else if $pointer == md{
      @media screen and (min-width:960px) and (max-width:1264px){
        @content;
      }
    } @else if $pointer == lg{
      @media screen and (min-width:1265px){
        @content;
      }
    }
  } @else if $dir == up{
    @if $pointer == xs{
      @media screen and (min-width:0px){
        @content;
      }
    } @else if $pointer == sm{
      @media screen and (min-width: 600px){
        @content;
      }
    } @else if $pointer == md{
      @media screen and (min-width:960px){
        @content;
      }
    } @else if $pointer == lg{
      @media screen and (min-width:1265px){
        @content;
      }
    }
  } @else if $dir == down{
    @if $pointer == xs{
      @media screen and (max-width:599px){
        @content;
      }
    } @else if $pointer == sm{
      @media screen and (max-width: 959px){
        @content;
      }
    } @else if $pointer == md{
      @media screen and (max-width:1264px){
        @content;
      }
    } @else if $pointer == lg{
      @media screen and (max-width:1799px){
        @content;
      }
    }
  }
}


// mixin 생성 end ------------------------------------------

// 배경 start ----------------------------------------------

.back{
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  background: linear-gradient(115deg, $RoseQuartz, rgb(180, 180, 185), $Serenity, rgb(230,230,230));
}

.header{
  width: 100%;
  height: 20%;
  font-size: 30px;
  text-align: center;
}

.modal_back{
  position: fixed;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.5;
  z-index: -1;
}
.list-enter-active{
  animation: slide_r 0.5s;
}

.main_gradient{
  @include gradient($main_degree,$main_gradient)
}
.full{
  width: 100%;
  height: 100%;
}

// 배경 end ----------------------------------------------

// 글씨 start ------------------------------------------------------------------------------


.gradient_text_black{
  @include gradient_text(400, 115deg, rgb(40,40,40), rgb(70,70,70), rgb(52,52,52), rgb(130,130,130))
}

.gradient_text_main{
  @include gradient_text(400, 115deg, $RoseQuartz, rgb(180, 180, 185), $Serenity, rgb(230,230,230))
}

// 글씨 end ----------------------------------------------------------------------------


// breakpoint mixin 함수

// transition start -------------------------
  // .fadein-enter-active{
  //   transition: opacity 2s;
  // }
  // .fadein-enter{
  //   opacity: 0;
  // }

  // .slide-fade-enter-active{
  //   transition: all .6s cubic-bezier(1.0, 0.5, 0.4, 0.5);
  // }
  // .slide-fade-enter{
  //   transform: translateX(20px);
  //   opacity: 0;
  // }

  // .fadeout-enter-active{
  //   animation: fadein 1s reverse;
  // }


.hovright:hover{
  &:before{
    z-index: -2;
    position:absolute;
    bottom: 25%;
    left: 3%;
    width: 94%;
    height: 50%;
    filter: blur(10px);
    opacity: 0.3;
    content: "";
    animation: flash .5s ease-out alternate infinite;
    background:rgb(243, 238, 235);
  }
}

// transition end -------------------------

// keyframes start -------------------

// bounce
@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// flash
@keyframes flash{
  to{
    opacity: 0.9;
    -moz-animation-delay: 0.5;
  }
}

// fade
@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeout{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

// slide
@keyframes slide_l{
  0%{
    transform: translateX(-20px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes slide_r{
  0%{
    transform: translateX(20px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes slide_u{
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes slide_d{
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes slide_d_a{
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(0px);
  }
}



// slide-fade

@keyframes slide_f_l{
  0%{
    transform: translateX(-20px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

// keyframes end -------------------
