@import "@/assets/scss/mystyle.scss";
  .navitem{
    margin-right: 35px;
  }
  .my-2{
    &:hover{
      transform: translateY(-3px)
    }
  }
  .nav_icon{
    color: white !important;
    font-size: 35px !important;
    margin-right: 30px;
  }
  .spacer{
    margin-left: 15px;
  }
  .mymenu{
    position: fixed;
    right: 0;
    width: 90px;
    height: 60px;
    opacity: 0.9;
    & p {
      margin-top: 8px;
      margin-bottom:0;
    }
  }
  .navbar{
    background: $Serenity;
    height: 60px;
    box-shadow: 1px 1px 1px gray;
  }
  a{
    color:white !important;
    font-family: 'Fredoka One', cursive;
    &.navtitle{
      margin-left: 60px;
    }
  }

  .slide-enter-active, .slide-leave-active {
    transition: all .4s;
  }

  .slide-enter
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(-20px);
    opacity: 0;
  }
  
  .slide-leave-to{
    transform: translateY(-40px);
    opacity: 0;
  }